h2::first-letter{
    font-size: 2em;
}

p::first-line{
    background-color:khaki;
}

p::selection{
    color: white;
    background-color: darkgrey;
}

#fruta li::before{
    content: "=> ";
    color: blue;
}

.maca::after{
    content: " (não comprar)";
    color: crimson;
}