.card-amuleto{
    border: 1px solid #ececf45d; 
    width: 10%;
    padding: 25px;
    text-align: center; 
    border-radius: 20px;
    background-color: #00000056;
    margin: 1.1em;
}

.produtos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card-name{
    word-wrap: break-word; /* força quebra de linha*/
}

.img-card-amuleto{
    width: 100%;
    max-width: 80px;
    border-radius: 5px;
    height: auto;
}

.card-amuleto:hover{
    scale: 1.02;
    transition: 0.3s;
}

.card-description{
    display: -webkit-box;
    -webkit-line-clamp: 2;      /* Safari/Chrome (prefixed) */
    line-clamp: 2;              /* Padrão futuro */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}