*{
    margin: 0px;
    padding: 0;
}

nav{
    float: right;
    width: 100%;
    height: auto;
    background-color: bisque;
}

ul li{
    float:right;
    margin: 10px;
    padding: 10px;
    list-style: none;
}

h2{
    padding: 10px;
}

div {
    float: left;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    margin: 2px;
}


img{
    width: 30%;
    height: 200px;
    object-fit: cover;
}

.destaques div{
    float: left;
    width: 47%; /*margem de segurança de 3%*/
    padding: 10px;
    text-align: center;
}


.mais-vendidos div{
    float: left;
    width: 30%; /*100% dividido por 3 da 33.3, deixamos uma margem de segurança*/
    padding: 10px;
    text-align: center;
}